= render :partial => "/layouts/nav"
%h2 Legal
%p
		Information we collect: <br><br>
		We collect information provided by users of the site including (but not limited to): personal information such as name and email, provided professional license information, provided continuing education course information and various usage statistics to help improve our offering. Unless otherwise noted, users are not required to provide us data.<br><br>

		Information we use:<br><br>
		We may use de-identified and or aggregated information gathered from License Buddy and related statistics to improve the services provided through the site, and for research and analysis purposes. We may also provide this information to our partners for such purposes. De-identified information does not include personally identifiable information such as name or email address. Aggregated information is information from multiple users that is not associated with any individual.<br><br>

		Emails:<br><br>
		To keep you informed of the latest improvements and alerts relating to License Buddy, we may send you emails. You will have the ability to opt out of receiving emails from us.<br><br>

		Protecting your information:<br><br>
		We are committed to protecting the security of your personal information. We use a variety of security technologies and procedures to help protect your personal information from unauthorized access, use, and disclosure. For example, we store the personal information you provide encrypted on computer servers with limited access that are located in controlled facilities. We restrict access to personal information to our employees, contractors, and agents who need to know that information in order to operate, develop, or improve our services. These individuals are bound by confidentiality obligations and may be subject to discipline, including termination and criminal prosecution, if they fail to meet these obligations.<br>

		No method of safeguarding information is perfect, however, and we cannot and do not guarantee that your information will be 100% secure.<br><br>

		Changes to this Privacy Statement<br><br>
		We may occasionally update this privacy statement. When we do, we will also revise the "last modified" date at the bottom of the privacy statement. For material changes to this privacy statement, we will notify you either by placing a prominent notice on the home page of License Buddy or by sending you a notification directly. We encourage you to review this privacy statement periodically to stay informed about how we are helping to protect the personal information we collect.<br><br>

		Disclaimer:<br><br>
		License Buddy holds no liability for the user or state requirement information maintained on the site. Please use the license requirements listed as a guide when reviewing your license and reviewing your compliance. State boards and other governing bodies have final authority on the acceptance of individual courses for continuing education credit.<br><br>

		Last modified December 2011