.container{:id => "header-bg"}
  /navbar
  = render :partial => "/layouts/nav" 
  .row
    .span4
      %center
        .well
          %blockquote 
            Jeremy O'Briant <br>
            =image_tag "jeremy.jpg",:id => "jeremy_pic"
            <br>Jeremy is a MBA student at the Kellogg School of Management.  He has been involved in over 20 acquisitions/investments through his roles with Cardinal Heath, KPMG, Merrick Ventures, and OCA ventures. He enjoys backpacking/travel (20+ countries and 49 states).
    .span4
      %center
        .well
          %blockquote 
            Brenda Chang <br>
            =image_tag "headshot.png"
            <br>Brenda is a senior studying Economics and Psychology at Northwestern University. She has a wide range of interests but the focus is the application of behavioral economics to the entrepreneurial world. 
  .row
    .span4
      %center
        .well
          %blockquote 
            Chia-Chen Su <br>
            =image_tag "josh.jpg", :id => "josh_pic"
            <br>Josh is a MBA student at the Kellogg School of Management.  Prior to Kellogg he was an engineer for eInk.  
    .span4
      %center
        .well
          %blockquote 
            Daniel Daks <br>
            =image_tag "daniel.jpg"
            <br>Daniel is a senior philosophy student at Northwestern Univeristy.  He is a former debate champion and enjoys running fantasydebate.com in his free time.  He has given up on his aspirations to become a philosopher and has taught himself how to code. 