.container{:id => "header-bg"}
  /navbar
  = render :partial => "/layouts/nav" 
  .row
    .span4
      %center
        .well
          %blockquote 
            Jeremy O'Briant <br>
            =image_tag "jeremy.jpg",:id => "jeremy_pic"
            <br>Jeremy is a MBA student at the Kellogg School of Management.  Prior to Kellogg he held roles with Cardinal Heath, KPMG and Merrick Ventures. He was born in Iowa and enjoys backpacking/travel (20+ countries and 49 states).
    .span4
      %center
        .well
          %blockquote 
            Brenda Chang <br>
            =image_tag "headshot.png"
            <br>Brenda is a senior studying Economics and Psychology at Northwestern University. She has a wide range of interests but the focus is the application of behavioral economics to the entrepreneurial world. 
  .row
    .span4
      %center
        .well
          %blockquote 
            Chia-Chen Su <br>
            =image_tag "josh.jpg", :id => "josh_pic"
            <br>Josh is a MBA student at the Kellogg School of Management.  Prior to Kellogg he held roles with Cardinal Heath, KPMG and Merrick Ventures. He was born in Iowa and enjoys backpacking/travel. 
    .span4
      %center
        .well
          %blockquote 
            Daniel Daks <br>
            =image_tag "daniel.jpg"
            <br>Jeremy is a MBA student at the Kellogg School of Management.  Prior to Kellogg he held roles with Cardinal Heath, KPMG and Merrick Ventures. He was born in Iowa and enjoys backpacking/travel (20+ countries and 49 states).