.container
  = render :partial => 'layouts/nav'
  #login-page
    .login
      %section#content
        = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
          %h1 Login
          %div
            / %input#username{:placeholder => "Username", :required => "", :type => "text", :name => "user[email]"}/
            = f.email_field :email, :autofocus => true, :id => "username", :type => "text", :placeholder => "  Username", :required => ""
          %div
            / %input#password{:placeholder => "Password", :required => "", :type => "password"}/
            = f.password_field :password, :placeholder => "  Password", :required => "", :id => "password"
          %div
            %input{:type => "submit", :value => "Log in"}/
            %a{:href => "/users/password/new"} Forgot your password?