#intro {background-image:url('../img/intro-bg.png');
background-repeat: repeat;}
#value {
    background-image:url('../img/brick_patch.jpg');
}

#portfolio {
    background-image: url('../img/nonwinding_brick_patch.jpg');
}
#nav-links{
    padding-top: 25px;
    font-size: 18px;
}
#top-purple-line{
    background-color: #024c68;
    margin: 0px !important;
    height: 7px;
    border: none !important;
}

#bottom-purple-line{
    background-color: #024c68;
    margin: 0px !important;
    height: 50px;
    border: none !important;
}

h1{
    font-size: 40px;
}
h4 small {
  font-size: 10px;
}

#demo_video{
    top: 15px;
    position: relative;
}

/*#value {background-image:url('../img/value-bg.jpg');
background-repeat: repeat;}*/

#check{
    left: 4px;
    position: relative;
    bottom: 10px;
}
#segments_text{
    padding-top: 2px;
}
#modalText{
    width: 500px;
    height: 100px;
}
#press{
    padding-top: 25px;
}

#top-bar{
    padding-bottom: 25px;
}
.logo{
    padding-top: 30px;
    margin-left: -22px;
}

#myModalLabel{
    font-size: 30px;
    text-align: center;
    padding-top: 5px;
    font-color: #3c3251 !important;
}
#footertext {
    margin-top: -40px;
    margin-left: 50px;
    color: white;
    font-weight: normal;
    font-size: 13px;
}
.mobileweb{
    padding-top: 20px;
    padding-bottom: 20px;
}
.img40{
    margin-top: 40px;
}

.img20{
    margin-top: 20px;
}

#dot-dot-dot{
    margin-top: 40px;
    margin-bottom: 40px;
}

#value-header{
    margin-top: 40px;
}
.notice{font-size:12px;text-align:center;color:#bcbcbc}
.modal_window .modal_main h3{font-size:1.6em;color:#545454;margin-bottom:34px;font-weight:normal}

#modal_text{font-size: 12px;}
.buttons.large{font-size:18px;padding:10px 20px}

.header.double h2{margin:3px 0; color: #494949; font-size: 24px; font-family: "Helvetica Neue",Helvetica,Arial,FreeSans,sans-serif; text-align: center; line-height: 24px;}html body #article form > .section > .header.double p.sub_title{font-size:14px;margin:0;color:#aaa;}
#modal_sub{text-shadow: #fff 1px 1px 0px; color: #aaa; font-size: 13px; text-align: center;}
.modal-body{background: #f9f9f9;}
#progress_indicator .step .connector{border-top:1px solid #ccc;display:inline-block;height:5px;width:125px;margin:0 10px}
#progress_indicator{height:50px;margin:0 auto;position:relative;width:215px;}
/*#emailContinue{right}*/

#page_container{min-height: 600px;}
#about{font-color: #818181; min-height: 90px;}
#about_lense{padding-bottom: 4px;}
#about_clip{padding-bottom: 3px;}
#jeremy_pic{max-height: 25%;}
#josh_pic{max-height: 25%;}
#addclass{
    margin-left: 67px;
    margin-top: 5px;
}
#requirementswell{
    margin-top: 15px;
    min-height: 100px;
    background-color: #f9f9f9;
}
#requirementtext{
    font-size: 12px;
    font-style: bold;
}
#progress_image{
    margin-left: 17px;
}
#DBtable{
    font-size: 12px !important;
}
#dashboardheader{
/*    color: #666;*/
/*    background-color: #aaa;*/
    text-shadow: 0px -1px 0px rgba(0,0,0,.5);}

