.navbar
  .navbar-inner
    %a.brand.pull-right{:href => "/"}
      .logo
        =image_tag "logo.png"
    %ul.nav.pull-right{:id => "nav-links"}
      %li
        %a{:href => "/static_pages/about"} What we do
      %li
        %a{:href => "/#portfolio"} Who we cover
      %li
        %a{:href => "/static_pages/whoweare"} Who we are
      %li
        - if user_signed_in? 
          = link_to 'Sign Out', destroy_user_session_path, :method => :delete